@use "./../abstracts/variables" as *;

.header {
	background-color: $dark-header-bg;
	position: sticky;
	top: 0;
	border-bottom: 1px solid $dark-border;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	padding-top: 6px;
	padding-bottom: 6px;
	b {
		font-weight: 900;
		color: $dark-text-primary;
	}
	&__links {
		display: flex;
		gap: 15px;
		a {
			text-decoration: none;
			color: #4da6ff;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
				color: #66b3ff;
			}
		}
	}
}
